body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.style {
  height: 80vh;
  width: 50vw;
  background-color: black;
  color: white;
  position: relative;
}

.notes_header {
  /* position: fixed; */
  width: 100%;
  display: flex;
  height: 10vh;
  justify-content: space-around;
  align-items: center;
}

.notes_header input {
  height: 40px;
  width: 200px;
  border: transparent;
  border-radius: 10px;
  outline: 1px solid white;
  background-color: transparent;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

.btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid whitesmoke;
  background-color: black;
}
.btn:hover {
  border: none;
  cursor: pointer;
}

.add_btn {
  position: absolute;
  bottom: 20px;
  left: 45%;
}

.notes_container {
  max-height: 80vh;
  border-radius: 10px;
  overflow: hidden;
  margin: 15px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* z-index: 1; */
  /* padding-right: 10px; */
}

.notes_container::-webkit-scrollbar {
  width: 0px;
}

.note {
  width: 130px;
  /* background-color: rgb(17, 215, 215); */
  color: white;
  border-radius: 10px;
  flex-grow: 2;
  text-decoration: none;
}

.create_note_header {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.save_btn {
  display: block;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  background-color: rgb(192, 22, 214);
  color: white;
  border: none;
  border-radius: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.create_note_form {
  margin: 10px;
  display: flex;
  /* justify-content: center; */
  align-items: start;
  /* height: 60vh; */
  flex-direction: column;
}

.create_note_form input {
  border: transparent;
  background-color: transparent;
  height: 60px;
  width: 98%;
  color: white;
  font-size: 24px;
  font-family: Roboto;
  outline: none;
}

.create_note_form textarea {
  min-width: 98%;
  font-size: 20px;
  margin-top: 20px;
  color: white;
  background-color: transparent;
  border: transparent;
  outline: none;
  resize: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .style {
    width: 90vw;
    height: 95vh;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .style {
    width: 70vw;
    height: 95vh;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .style {
    width: 60vw;
    height: 90vh;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .style {
    width: 55vw;
    height: 85vh;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .style {
    width: 50vw;
    height: 85vh;
  }
}

.empty {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-45%, -50%);
}
